<div class="bg-light px-3 py-5">
    <div class="container">
        <h1 class="text-center my-3">
            Features
            <br>
            <i class="nes-icon star is-large"></i>
        </h1>
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <div class="nes-container is-centered with-title is-rounded">
                    <h3 class="title">Community Built</h3>
                    <img src="assets/AA.png" alt="" style="height:5em">
                    <p>
                        Community driven & fair launch. Our developer has burned all the team tokens and renounced contract ownership to provide security for the whole community!
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-3">
                <div class="nes-container is-centered with-title is-rounded">
                    <h3 class="title">LP Grinder</h3>
                    <img src="assets/AA.png" alt="" style="height:5em">
                    <p>
                        <span class="text-primary">5%</span> of every transaction contributes toward automatically generating further liquidity for the NCAT Community. Benefiting long term holders the most!
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <div class="nes-container is-centered with-title is-rounded">
                    <h3 class="title">Frictionless Yield</h3>
                    <img src="assets/AA.png" alt="" style="height:5em">
                    <p>
                        <span class="text-primary">4%</span> of every transaction is taken and <span class="text-primary">re distributed</span> to all NCAT holders. The burn address is also a holder thus each transaction helps deflate the supply.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <div class="nes-container is-centered with-title is-rounded">
                    <h3 class="title">Highly Secured</h3>
                    <img src="assets/AA.png" alt="" style="height:5em">
                    <p>
                        All initial liquidity provided has been locked with UniCrypt. <span class="text-primary">The contract owner has been renounced</span>, leaving the contract trustless for the NCAT community.
                    </p>
                </div>
            </div>
        </div>


        <div class="row">
            <a name="dao"></a>

            <div class="col-12 col-md-6 mb-3">
                <div class="nes-container is-centered with-title is-rounded">
                    <h3 class="title">DAO</h3>
                    <img src="assets/AA.png" alt="" style="height:5em">
                    <p>
                        What community token would be complete without a Decentralized Autonomous Organization (DAO)? Propose & Vote on creative ideas brought forward by the community! Allows the community to get a picture on which direction the majority of users want to head and helps steer the project's direction! <br><br>
                        <a class="nes-btn is-primary" [href]="environment.daoaddress" target="_blank">Join the DAO</a>
                    </p>
                </div>
            </div>

            <a name="nft"></a>

            <div class="col-12 col-md-6 mb-3">
                <div class="nes-container is-centered with-title is-rounded">
                    <h3 class="title">NFT</h3>
                    <img src="assets/AA.png" alt="" style="height:5em">
                    <p>
                        Coming up next, stay tuned!
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>