<div class="bg-light px-3 py-5">
    <div class="container">
        <h1 class="text-center my-3">
            NCAT Roadmap
            <br>
            <i class="nes-icon trophy is-large"></i>
        </h1>

        <div class="container d-flex align-items-end" *ngFor="let item of roadmaps; let i = index">
            <div class="nes-balloon nes-pointer text-primary mb-5" [class]="(0 === i % 2) ? 'from-right' : 'from-left'">
                {{item.when | date : 'mediumDate'}}<br>
                <h4>{{item.title}}</h4>
                <p class="text-muted small" [innerHtml]="item.content | markdown"></p>
                <strapi-media [media]="item.media" *ngIf="item.media"></strapi-media>
                <p *ngIf="item.link">
                    <a class="nes-btn is-primary" [href]="item.link" target="_blank">{{item.link_title}}</a>
                </p>
            </div>
            <img src="assets/BB.png" alt="" class="dialog-head">
        </div>

    </div>
</div>